.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  min-height: 100vh;
  padding: 30px 0;
}

.title {
  font-size: 3em;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  max-width: 250px;
}

.listName {
  font-size: 1.2em;
  text-transform: capitalize;
}

.btn {
  padding: 15px 25px;
  background-color: var(--btn);
  color: #0a0a0a;
  display: inline-block;
  border: 2px solid var(--btn);
  border-radius: 5px;
}

.listItem:nth-child(1) > .listName {
  color: #ffd700;
}

.listItem:nth-child(1) > .listName::after {
  content: ' 🥇 ';
}
.listItem:nth-child(1) > .listName::after {
  content: ' 🥇 ';
}

.listItem:nth-child(2) > .listName {
  color: #c0c0c0;
}

.listItem:nth-child(3) > .listName {
  color: #cd7f32;
}

@media screen and (min-width: 600px) {
  .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: transparent;
    color: var(--btn);
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  min-height: 100vh;
  padding: 30px 0;
}

.title {
  font-size: 3em;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  max-width: 250px;
}

.listName {
  font-size: 1.2em;
  text-transform: capitalize;
}

.btn {
  padding: 15px 25px;
  background-color: var(--btn);
  color: #0a0a0a;
  display: inline-block;
  border: 2px solid var(--btn);
  border-radius: 5px;
}

.listItem:nth-child(1) > .listName {
  color: #ffd700;
}

.listItem:nth-child(2) > .listName {
  color: #c0c0c0;
}

.listItem:nth-child(3) > .listName {
  color: #cd7f32;
}

.listItem:nth-child(1) > .listName::after {
  content: ' 🥇 ';
}
.listItem:nth-child(2) > .listName::after {
  content: ' 🥈 ';
}
.listItem:nth-child(3) > .listName::after {
  content: ' 🥉 ';
}

.listItem:nth-child(1) > .listName::after {
  content: ' 🥇 ';
}
.listItem:nth-child(2) > .listName::after {
  content: ' 🥈 ';
}

@media screen and (min-width: 600px) {
  .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: transparent;
    color: var(--btn);
  }

  .listItem {
    width: 400px;
    max-width: unset;
  }
}
